#pragma once

// ─── Mode AP (compétition) ────────────────────────────────────────────────────
#define WIFI_AP_SSID     "RobotAP"
#define WIFI_AP_PASS     "robot1234"
#define WIFI_AP_CHANNEL  6     // 1, 6 ou 11 — canaux non-chevauchants 2.4 GHz

// ─── Mode STA (développement — réseau domestique) ────────────────────────────
#define WIFI_STA_SSID    "HomeNetwork"
#define WIFI_STA_PASS    "password123"
